params {
    
    // Input options
    input                      = null
    core_dbname                = null
    assembly_accession         = null
    
    // Output options
    outdir                     = './results'
    
    // QC module selection
    run_mapping_stats          = true
    
    // Database connection parameters
    xy_scanner                 = null
    query_user                 = 'ensro'
    query_host                 = 'mysql-ens-genebuild-prod-6'
    query_port                 = '4532'
    reference_user             = 'ensro'
    reference_host             = 'mysql-ens-genebuild-prod-5'
    reference_port             = '4531'
    reference_dbname           = 'homo_sapiens_core_113_38'
}