params {
    
    // Input options
    input                      = null
    core_dbname                = null
    assembly_accession         = null
    
    // Output options
    outdir                     = './results'
    
    // QC module selection
    run_panacus_stats          = true
    
    // Database connection parameters
    xy_scanner                 = null
    panacus_template           = './resources/config.yaml'
}
